<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usercenter">

    <application>
        <activity android:name="com.example.usercenter.main_and_cotegory.fragment.mvp.view.RegisterActivity"></activity>
        <activity android:name="com.example.usercenter.main_and_cotegory.fragment.mvp.view.LoginActivity" />
        <activity android:name="com.example.usercenter.main_and_cotegory.fragment.mvp.view.UserCenterActivity">

        </activity>
    </application>

</manifest>